body{
    background-color: azure;
    font-family: 'Courier New', Courier, monospace;
}
iframe{
    width: 90%;
    height: 500px;
    border: none;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    align-self: center;
}
h1{
    text-align: center;
    font-size: 50px;
    color:rgb(66, 0, 20);
    margin-top: 50px;
}
h2{
    text-align: center;
    font-size: 30px;
    color:rgb(66, 0, 20);
    margin-top: 50px;
}